body{
    background-color: white;
    margin: 2%;
}

.first{
    margin: 5px;
}

.container{
    margin: 2px;
}
h3{
    font-weight: bolder;
}
.box{
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    background-color: white;
    height: 50px;
    width:250px;
}
.special_box{
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    background-color: white;
    height: 100px;
    width:1150px;
}
.box1{
    margin-right: auto;
}

.bigbox1{
    display: flex;
    flex-direction: row;
}
.bigbox2{
    display: flex;
    flex-direction: row;
}
.box3{
    margin-right: auto;
}
.bigbox3{
    display: flex;
    flex-direction: row;
}
.bigbox4{
    display: flex;
    flex-direction: row;
}
.box6{
    margin-right: auto;
}
.box8{
    margin-right: auto;
}
.first{
    font-size: 50px;
    margin-bottom:4% ;
}
.title{
    font-size: 30px;
    color: darkblue;
}
.slast{
    background-color: rgb(222, 218, 218);
    padding: 0.5%;
    margin: 5%;
    width: 85px;
    height: 30px;
    align-items: center;
}
.last{
    margin: 5%;
}
.innerbox{
    display: flex;
    flex-direction: row;
}
.end{
    background-color: rgb(243, 20, 20);
    color: white;
    font-size: large;
    font-family: sans-serif;
    padding: 0.5%;
    margin-top: 0%;

}
footer{
    display:flex;
    justify-content: end;
    align-items: center;
    margin-top: 5%;
}
